<a href="https://colab.research.google.com/github/kangkanM/my_kitchen/blob/master/KPrototypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install kmodes

In [0]:
import numpy as np
import pandas as pd

In [0]:
from kmodes.kprototypes import KPrototypes

In [0]:
marketing_df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/marketing_cva_f.csv')

In [43]:
marketing_df.columns

Index(['Customer', 'State', 'CLV', 'Coverage', 'Income', 'loc_type',
       'monthly_premium', 'months_last_claim', 'Months_Since_Policy_Inception',
       'Total_Claim_Amount', 'Vehicle_Class', 'avg_vehicle_age'],
      dtype='object')

In [44]:
marketing_df.head()

  Customer       State  ...  Vehicle_Class avg_vehicle_age
0  BU79786  Washington  ...   Two-Door Car       40.696695
1  AI49188      Nevada  ...   Two-Door Car       48.755298
2  HB64268  Washington  ...  Four-Door Car       70.394474
3  OC83172      Oregon  ...   Two-Door Car       53.460212
4  XZ87318      Oregon  ...  Four-Door Car       32.811507

[5 rows x 12 columns]

In [0]:
marketing_df = marketing_df.drop(['Customer'], axis = 1)

In [46]:
marketing_df

           State           CLV  ...  Vehicle_Class  avg_vehicle_age
0     Washington   2763.519279  ...   Two-Door Car        40.696695
1         Nevada  12887.431650  ...   Two-Door Car        48.755298
2     Washington   2813.692575  ...  Four-Door Car        70.394474
3         Oregon   8256.297800  ...   Two-Door Car        53.460212
4         Oregon   5380.898636  ...  Four-Door Car        32.811507
...          ...           ...  ...            ...              ...
6812  California   5032.165498  ...   Two-Door Car        37.492591
6813  California   4100.398533  ...  Four-Door Car        48.946675
6814  California  23405.987980  ...  Four-Door Car        65.310053
6815  California   3096.511217  ...  Four-Door Car        48.002914
6816  California   7524.442436  ...  Four-Door Car        45.151858

[6817 rows x 11 columns]

In [0]:
mark_array = marketing_df.values

In [0]:
mark_array[:,1] = mark_array[:,1].astype(float)
mark_array[:,3] = mark_array[:,3].astype(float)
mark_array[:,5] = mark_array[:,5].astype(float)
mark_array[:,6] = mark_array[:,6].astype(float)
mark_array[:,7] = mark_array[:,7].astype(float)
mark_array[:,8] = mark_array[:,8].astype(float)
mark_array[:,10] = mark_array[:,10].astype(float)

In [51]:
mark_array

array([['Washington', 2763.519279, 'Basic', ..., 384.811147,
        'Two-Door Car', 40.69669469],
       ['Nevada', 12887.43165, 'Premium', ..., 566.4722469999999,
        'Two-Door Car', 48.75529783],
       ['Washington', 2813.692575, 'Basic', ..., 138.130879,
        'Four-Door Car', 70.39447375],
       ...,
       ['California', 23405.98798, 'Basic', ..., 198.23476399999998,
        'Four-Door Car', 65.31005308],
       ['California', 3096.511217, 'Extended', ..., 379.2,
        'Four-Door Car', 48.00291377],
       ['California', 7524.442436, 'Extended', ..., 691.2,
        'Four-Door Car', 45.15185816]], dtype=object)

In [52]:
kpt =KPrototypes(n_clusters=5, verbose=1,  max_iter = 20)
clusters = kpt.fit_predict(mark_array, categorical = [0,2,4,9])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 1003, ncost: 512995607427.979
Run: 1, iteration: 2/20, moves: 345, ncost: 506284970903.92737
Run: 1, iteration: 3/20, moves: 221, ncost: 503095661515.8771
Run: 1, iteration: 4/20, moves: 179, ncost: 500918973214.8589
Run: 1, iteration: 5/20, moves: 121, ncost: 499917514569.6434
Run: 1, iteration: 6/20, moves: 94, ncost: 499458427630.02606
Run: 1, iteration: 7/20, moves: 65, ncost: 499207994095.66583
Run: 1, iteration: 8/20, moves: 50, ncost: 499034488665.16425
Run: 1, iteration: 9/20, moves: 31, ncost: 498992419053.24066
Run: 1, iteration: 10/20, moves: 7, ncost: 498986913751.77686
Run: 1, iteration: 11/20, moves: 5, ncost: 498981861210.8496
Run: 1, iteration: 12/20, moves: 7, ncost: 498976371917.3702
Run: 1, iteration: 13/20, moves: 8, ncost: 498971432687.0511
Run: 1, iteration: 14/20, moves: 8, ncost: 498966337130.88605
Run: 1, iteration: 15/20, moves: 8, ncost: 498960087806.00183
Run: 1, iteration: 16/20, moves: 5, ncost: 498958219410.8311
Run: 1, iteration: 17/20, moves: 3, ncost: 498957531472.22003
Run: 1, iteration: 18/20, moves: 0, ncost: 498957531472.22003
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 1658, ncost: 523413967306.5416
Run: 2, iteration: 2/20, moves: 494, ncost: 500515673662.62915
Run: 2, iteration: 3/20, moves: 292, ncost: 491396659573.88947
Run: 2, iteration: 4/20, moves: 167, ncost: 489005449168.5709
Run: 2, iteration: 5/20, moves: 118, ncost: 487832053539.49927
Run: 2, iteration: 6/20, moves: 115, ncost: 486758100972.6405
Run: 2, iteration: 7/20, moves: 87, ncost: 486067909077.0761
Run: 2, iteration: 8/20, moves: 52, ncost: 485904471879.2563
Run: 2, iteration: 9/20, moves: 29, ncost: 485831524985.08167
Run: 2, iteration: 10/20, moves: 37, ncost: 485734912644.626
Run: 2, iteration: 11/20, moves: 30, ncost: 485622498654.6024
Run: 2, iteration: 12/20, moves: 18, ncost: 485594356209.49414
Run: 2, iteration: 13/20, moves: 8, ncost: 485590302835.6813
Run: 2, iteration: 14/20, moves: 4, ncost: 485587940825.07495
Run: 2, iteration: 15/20, moves: 6, ncost: 485583894023.69336
Run: 2, iteration: 16/20, moves: 3, ncost: 485582488189.7007
Run: 2, iteration: 17/20, moves: 6, ncost: 485580315997.3977
Run: 2, iteration: 18/20, moves: 1, ncost: 485580202724.6337
Run: 2, iteration: 19/20, moves: 0, ncost: 485580202724.6337
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 1113, ncost: 542391898372.9045
Run: 3, iteration: 2/20, moves: 480, ncost: 533697365611.63367
Run: 3, iteration: 3/20, moves: 316, ncost: 529245114578.71356
Run: 3, iteration: 4/20, moves: 238, ncost: 526766896975.53156
Run: 3, iteration: 5/20, moves: 270, ncost: 523092678341.1003
Run: 3, iteration: 6/20, moves: 235, ncost: 520306716850.83093
Run: 3, iteration: 7/20, moves: 253, ncost: 516564017244.1746
Run: 3, iteration: 8/20, moves: 289, ncost: 512029506270.6236
Run: 3, iteration: 9/20, moves: 224, ncost: 509237452263.8632
Run: 3, iteration: 10/20, moves: 176, ncost: 507603531365.4007
Run: 3, iteration: 11/20, moves: 180, ncost: 505912008122.0699
Run: 3, iteration: 12/20, moves: 212, ncost: 503745786457.2045
Run: 3, iteration: 13/20, moves: 189, ncost: 501949290976.656
Run: 3, iteration: 14/20, moves: 152, ncost: 500711201442.18567
Run: 3, iteration: 15/20, moves: 136, ncost: 499857301016.9345
Run: 3, iteration: 16/20, moves: 75, ncost: 499513105972.0948
Run: 3, iteration: 17/20, moves: 68, ncost: 499217594053.4074
Run: 3, iteration: 18/20, moves: 56, ncost: 499034488665.1646
Run: 3, iteration: 19/20, moves: 31, ncost: 498992419053.24066
Run: 3, iteration: 20/20, moves: 7, ncost: 498986913751.77704
Run: 3, iteration: 21/20, moves: 5, ncost: 498981861210.84973
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 2275, ncost: 658126758500.9722
Run: 4, iteration: 2/20, moves: 1260, ncost: 565013992477.8806
Run: 4, iteration: 3/20, moves: 876, ncost: 520746421083.43964
Run: 4, iteration: 4/20, moves: 539, ncost: 503737573286.9822
Run: 4, iteration: 5/20, moves: 322, ncost: 496493763165.624
Run: 4, iteration: 6/20, moves: 242, ncost: 491810191330.2153
Run: 4, iteration: 7/20, moves: 174, ncost: 489038826622.1024
Run: 4, iteration: 8/20, moves: 147, ncost: 487223121998.7346
Run: 4, iteration: 9/20, moves: 98, ncost: 486234888148.39166
Run: 4, iteration: 10/20, moves: 74, ncost: 485788129158.4947
Run: 4, iteration: 11/20, moves: 49, ncost: 485612527288.5129
Run: 4, iteration: 12/20, moves: 20, ncost: 485586505337.0801
Run: 4, iteration: 13/20, moves: 4, ncost: 485584551937.31256
Run: 4, iteration: 14/20, moves: 2, ncost: 485584167691.7949
Run: 4, iteration: 15/20, moves: 0, ncost: 485584167691.7949
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 884, ncost: 504534124203.1398
Run: 5, iteration: 2/20, moves: 172, ncost: 499698995541.8876
Run: 5, iteration: 3/20, moves: 121, ncost: 495027627039.7
Run: 5, iteration: 4/20, moves: 96, ncost: 491814879900.34143
Run: 5, iteration: 5/20, moves: 71, ncost: 488938578874.8437
Run: 5, iteration: 6/20, moves: 53, ncost: 486595407797.2993
Run: 5, iteration: 7/20, moves: 29, ncost: 485789036641.38983
Run: 5, iteration: 8/20, moves: 17, ncost: 485583995753.0827
Run: 5, iteration: 9/20, moves: 3, ncost: 485578375812.09436
Run: 5, iteration: 10/20, moves: 0, ncost: 485578375812.09436
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 1179, ncost: 509991803617.0205
Run: 6, iteration: 2/20, moves: 337, ncost: 490750492677.7743
Run: 6, iteration: 3/20, moves: 137, ncost: 485921237193.4116
Run: 6, iteration: 4/20, moves: 43, ncost: 485606892516.25793
Run: 6, iteration: 5/20, moves: 13, ncost: 485593045199.99146
Run: 6, iteration: 6/20, moves: 7, ncost: 485589611329.5962
Run: 6, iteration: 7/20, moves: 4, ncost: 485586887988.54266
Run: 6, iteration: 8/20, moves: 6, ncost: 485582419705.3985
Run: 6, iteration: 9/20, moves: 3, ncost: 485580915402.60614
Run: 6, iteration: 10/20, moves: 6, ncost: 485578396457.7803
Run: 6, iteration: 11/20, moves: 1, ncost: 485578283196.2573
Run: 6, iteration: 12/20, moves: 0, ncost: 485578283196.2573
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 1024, ncost: 495582126517.7486
Run: 7, iteration: 2/20, moves: 321, ncost: 488947243027.5482
Run: 7, iteration: 3/20, moves: 96, ncost: 488164655534.8573
Run: 7, iteration: 4/20, moves: 46, ncost: 487877820599.1598
Run: 7, iteration: 5/20, moves: 37, ncost: 487520476150.96155
Run: 7, iteration: 6/20, moves: 40, ncost: 486683382145.3058
Run: 7, iteration: 7/20, moves: 48, ncost: 486317724263.7934
Run: 7, iteration: 8/20, moves: 36, ncost: 486065777217.61646
Run: 7, iteration: 9/20, moves: 43, ncost: 485715752386.1009
Run: 7, iteration: 10/20, moves: 28, ncost: 485621813872.3003
Run: 7, iteration: 11/20, moves: 19, ncost: 485592562203.4668
Run: 7, iteration: 12/20, moves: 6, ncost: 485589796470.6682
Run: 7, iteration: 13/20, moves: 3, ncost: 485587940825.0748
Run: 7, iteration: 14/20, moves: 6, ncost: 485583894023.6934
Run: 7, iteration: 15/20, moves: 3, ncost: 485582488189.70056
Run: 7, iteration: 16/20, moves: 6, ncost: 485580315997.3975
Run: 7, iteration: 17/20, moves: 1, ncost: 485580202724.63336
Run: 7, iteration: 18/20, moves: 0, ncost: 485580202724.63336
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 1298, ncost: 513086107049.08527
Run: 8, iteration: 2/20, moves: 371, ncost: 502016831350.1408
Run: 8, iteration: 3/20, moves: 185, ncost: 496358579121.46387
Run: 8, iteration: 4/20, moves: 102, ncost: 493474508090.80145
Run: 8, iteration: 5/20, moves: 73, ncost: 490742461370.4901
Run: 8, iteration: 6/20, moves: 78, ncost: 488276249929.29004
Run: 8, iteration: 7/20, moves: 56, ncost: 486143506860.28687
Run: 8, iteration: 8/20, moves: 26, ncost: 485786752746.23883
Run: 8, iteration: 9/20, moves: 18, ncost: 485583948680.17163
Run: 8, iteration: 10/20, moves: 3, ncost: 485578283196.2574
Run: 8, iteration: 11/20, moves: 0, ncost: 485578283196.2574
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 1304, ncost: 497585144134.1446
Run: 9, iteration: 2/20, moves: 356, ncost: 489584223598.35547
Run: 9, iteration: 3/20, moves: 152, ncost: 487724766677.5419
Run: 9, iteration: 4/20, moves: 110, ncost: 486802442183.05676
Run: 9, iteration: 5/20, moves: 70, ncost: 486329963028.7426
Run: 9, iteration: 6/20, moves: 42, ncost: 485977725526.3421
Run: 9, iteration: 7/20, moves: 34, ncost: 485878753488.2466
Run: 9, iteration: 8/20, moves: 34, ncost: 485795080536.2377
Run: 9, iteration: 9/20, moves: 29, ncost: 485687400142.8033
Run: 9, iteration: 10/20, moves: 23, ncost: 485617417061.74506
Run: 9, iteration: 11/20, moves: 16, ncost: 485594356209.49384
Run: 9, iteration: 12/20, moves: 8, ncost: 485590302835.68134
Run: 9, iteration: 13/20, moves: 4, ncost: 485587940825.0748
Run: 9, iteration: 14/20, moves: 6, ncost: 485583894023.6935
Run: 9, iteration: 15/20, moves: 3, ncost: 485582488189.7006
Run: 9, iteration: 16/20, moves: 6, ncost: 485580315997.39746
Run: 9, iteration: 17/20, moves: 1, ncost: 485580202724.63324
Run: 9, iteration: 18/20, moves: 0, ncost: 485580202724.63324
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 1177, ncost: 564186500071.0795
Run: 10, iteration: 2/20, moves: 617, ncost: 538938618915.3816
Run: 10, iteration: 3/20, moves: 495, ncost: 522867152484.45184
Run: 10, iteration: 4/20, moves: 408, ncost: 512805377738.65784
Run: 10, iteration: 5/20, moves: 337, ncost: 506424732144.6386
Run: 10, iteration: 6/20, moves: 276, ncost: 502303650511.3726
Run: 10, iteration: 7/20, moves: 180, ncost: 500518402356.38666
Run: 10, iteration: 8/20, moves: 133, ncost: 499571823340.20166
Run: 10, iteration: 9/20, moves: 85, ncost: 499229858477.79474
Run: 10, iteration: 10/20, moves: 51, ncost: 499113107330.0109
Run: 10, iteration: 11/20, moves: 20, ncost: 499092522331.37
Run: 10, iteration: 12/20, moves: 6, ncost: 499086489452.47473
Run: 10, iteration: 13/20, moves: 11, ncost: 499073361282.5194
Run: 10, iteration: 14/20, moves: 20, ncost: 499039966582.1422
Run: 10, iteration: 15/20, moves: 23, ncost: 499003835316.53253
Run: 10, iteration: 16/20, moves: 12, ncost: 498991497177.73517
Run: 10, iteration: 17/20, moves: 9, ncost: 498985649020.0528
Run: 10, iteration: 18/20, moves: 2, ncost: 498985204202.92004
Run: 10, iteration: 19/20, moves: 0, ncost: 498985204202.92004
Best run was number 6

In [53]:
print(kpt.cluster_centroids_)

[array([[8.00439657e+03, 8.74438440e+04, 9.07927502e+01, 1.40535855e+01,
        4.83128448e+01, 3.01615904e+02, 5.02521535e+01],
       [6.65120491e+03, 4.31227824e+04, 9.13882807e+01, 1.47913715e+01,
        4.72987766e+01, 3.62156009e+02, 5.05950678e+01],
       [7.71498538e+03, 6.48754236e+04, 9.35613718e+01, 1.54717208e+01,
        4.84506619e+01, 3.40062070e+02, 4.97244768e+01],
       [7.03200724e+03, 2.33735714e+04, 9.11850618e+01, 1.53572788e+01,
        4.70761180e+01, 4.45627577e+02, 5.00395681e+01],
       [3.17458356e+04, 3.92744113e+04, 1.27346320e+02, 1.63419913e+01,
        5.12207792e+01, 5.57010693e+02, 4.99624096e+01]]), array([['California', 'Basic', 'Rural', 'Four-Door Car'],
       ['California', 'Basic', 'Suburban', 'Four-Door Car'],
       ['California', 'Basic', 'Suburban', 'Four-Door Car'],
       ['California', 'Basic', 'Suburban', 'Four-Door Car'],
       ['California', 'Extended', 'Suburban', 'Four-Door Car']],
      dtype='<U13')]

In [0]:
cluster_list = []
for c in clusters:
  cluster_list.append(c)

In [0]:
marketing_df["predicted_cluster"] = cluster_list

In [61]:
marketing_df[marketing_df["predicted_cluster"] == 1]

           State           CLV  ... avg_vehicle_age  predicted_cluster
1         Nevada  12887.431650  ...       48.755298                  1
2     Washington   2813.692575  ...       70.394474                  1
13        Oregon   5710.333115  ...       41.632562                  1
26        Oregon   4932.916345  ...       64.455887                  1
28    California  13891.735670  ...       42.010409                  1
...          ...           ...  ...             ...                ...
6803  California   5500.577411  ...       44.344375                  1
6805  California   7501.661322  ...       45.237221                  1
6807  California   8732.090534  ...       52.604133                  1
6808  California   9424.256842  ...       62.057806                  1
6813  California   4100.398533  ...       48.946675                  1

[1553 rows x 12 columns]

In [63]:
marketing_df[marketing_df["predicted_cluster"] == 0]

           State           CLV  ... avg_vehicle_age  predicted_cluster
7     California   8798.797003  ...       42.912717                  0
8        Arizona   8819.018934  ...       58.986364                  0
9     California   5384.431665  ...       35.166331                  0
19        Oregon   5802.065978  ...       59.736663                  0
21       Arizona  12902.560140  ...       52.875859                  0
...          ...           ...  ...             ...                ...
6787  California   9410.670129  ...       67.813485                  0
6790  California   5926.385440  ...       46.672352                  0
6792  California   7083.642205  ...       56.777621                  0
6797  California   2619.337376  ...       74.194596                  0
6802  California   2845.520933  ...       49.841508                  0

[1269 rows x 12 columns]

In [64]:
marketing_df[marketing_df["predicted_cluster"] == 2]

           State           CLV  ... avg_vehicle_age  predicted_cluster
0     Washington   2763.519279  ...       40.696695                  2
3         Oregon   8256.297800  ...       53.460212                  2
4         Oregon   5380.898636  ...       32.811507                  2
14    California   8162.617053  ...       55.435488                  2
15        Oregon   2872.051273  ...       55.605142                  2
...          ...           ...  ...             ...                ...
6804  California   3358.532935  ...       55.456201                  2
6809  California   5479.555081  ...       48.206084                  2
6811  California  16261.585500  ...       53.388158                  2
6812  California   5032.165498  ...       37.492591                  2
6814  California  23405.987980  ...       65.310053                  2

[1662 rows x 12 columns]

In [62]:
marketing_df[marketing_df["predicted_cluster"] == 1]["CLV"].describe()

count     1553.000000
mean      6651.204915
std       3620.650869
min       2345.262087
25%       3954.538361
50%       5645.396665
75%       8514.394994
max      20230.967500
Name: CLV, dtype: float64

In [59]:
marketing_df[marketing_df["predicted_cluster"] == 0]["CLV"].describe()

count     1269.000000
mean      8004.396566
std       6592.301040
min       2381.790787
25%       3980.838735
50%       5793.157728
75%       8845.073706
max      51426.248150
Name: CLV, dtype: float64

In [60]:
marketing_df[marketing_df["predicted_cluster"] == 2]["CLV"].describe()

count     1662.000000
mean      7714.985380
std       5372.510963
min       2255.312942
25%       4330.386020
50%       5865.225364
75%       9075.476565
max      38410.595560
Name: CLV, dtype: float64